body{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10,10%);
    grid-template-areas: "card card card card card card card card card card"
    "card card card card card card card card card card"
    "card card card card card card card card card card"
    "card card card card card card card card card card"
    "form form form form form form form form form form"
    "form form form form form form form form form form"
    "form form form form form form form form form form"
    "form form form form form form form form form form"
    "form form form form form form form form form form"
    "form form form form form form form form form form"
    "form form form form form form form form form form";  
    margin: 0%;  
}
.card-container{
    grid-area: card;
    background-image: url("images/bg-main-mobile.png");
    backgroud
    background-repeat: no-repeat;

}
.respo{
    grid-area: form;
}
.form{
    grid-area: form;
    display:inline;
}
.attribution{
    grid-row: 10;
    display: inline;
    margin-top: 10%;
    
}
.complete{
    display: none;
    grid-row:4/9;
}