.complete{
    display: none;
}
.attribution{
    display:none;
}
@media only screen and (max-width:900px){
    body{
        display:grid;
        grid-template-rows: [r0] 30vh [r1] auto [r2];
        padding: 0%;
        border: none;
        font-size: 18px;
        font-weight: 500;
    }
    .card-container{
        grid-row-start: r0;
        grid-row-end: r1;
        background-image: url("images/bg-main-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0%;
        margin:-2%;
        border: 0%;
        

    }
    .respo{
        grid-row-start: r1;
        grid-row-end: r2;
    }
    .form{
        display: flex;
        align-items: center;
        flex-direction: column;
        line-height: 10vh;
    }
    input{
        height: 3.5vh;
        
    }
}
    
